.rating {
  &__card {
    padding: 1em;
    background-color: rgba($soft-pink, 0.1);
    border-radius: $def-border-radius;

    img {
      display: inline-block;
    }
    span {
      display: inline-block;
      margin-bottom: 0.5em;
      @include breakpoint(medium) {
        margin: 0 1.5em 0 1em;
      }
    }
    h4 {
      @include breakpoint(medium) {
        display: inline-block;
        vertical-align: top;
      }
    }
    @include breakpoint(medium) {
      width: 100%;
      min-width: 25em;
      max-width: 27.8125em;
    }
  }
}

.testimony {
  &__card {
    background-color: $very-dark-magenta;
    border-radius: $def-border-radius;
    padding: 2.375em 1.875em;
    @include breakpoint(medium) {
      max-width: 21.875em;
    }
  }
  &__author {
    display: flex;

    > div:last-of-type {
      margin-left: 1.5em;
    }
  }
  &__photo {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
  }
  &__quote {
    margin-top: 1.5em;
  }
}
