section {
  &:not(:first-of-type) {
    margin-top: 3em;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
}

.intro {
  grid-area: intro;
  &__headline {
    width: 12ch;
    margin: auto;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
  &__details {
    margin-top: 1.5em;
    @include breakpoint(medium) {
      width: 80%;
    }
    @include breakpoint(large) {
      width: 38ch;
    }
  }
}

.rating {
  grid-area: rating;
  &__card:not(:first-of-type) {
    margin-top: $def-margin-size;
  }
  &__card:nth-child(1) {
    align-self: flex-start;
  }
  &__card:nth-child(2) {
    align-self: center;
  }
  &__card:nth-child(3) {
    align-self: flex-end;
  }
  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
  }
}

.testimony {
  grid-area: testimony;
  &__card:not(:first-of-type) {
    margin-top: $def-margin-size;
    @include breakpoint(medium) {
      margin-top: 0;
      margin-left: 2em;
    }
  }
  @for $i from 1 through 3 {
    &__card:nth-of-type(#{$i}) {
      margin-top: calc(1em * #{$i});
      margin-bottom: auto;
    }
  }
  @include breakpoint(medium) {
    display: flex;
    padding-top: 4.875em;
  }
}
