// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Fonts
$font-small: 0.8125rem;

// Defaults
$def-border-radius: 0.5em;
$def-margin-size: 1em;

//Breakpoints - 600px, 1024px, 1440px
$breakpoints: (
  "small": 37.5em,
  "medium": 64em,
  "large": 90em,
);
